body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#141e30, #243b55);
}

header {
    background: linear-gradient(#141e30, #243b55);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    width: 100%;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#nav-bar li {
    flex: 1;
    text-align: center;
}

#nav-bar li a,
#nav-bar li span {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

#nav-bar li a:hover {
    background-color: #243b55;
}

h1 {
    color: #333;
}

.paper {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.paper h2 {
    margin: 0 0 5px;
}

.paper p {
    margin: 0 0 10px;
}

form {
    display: inline;
}

button {
    background-color: #141e30;
    color: white;
    border: none;
    margin: 5px 820px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

a {
    text-decoration: none;
    color: #2196F3;
}

a:hover {
    text-decoration: underline;
}